@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.light {
  --background-color-50: 248 250 252;
  --background-color-100: 241 245 249;
  --background-color-200: 226 232 240;
  --background-color-300: 203 213 225;
  --background-color-400: 148 163 184;
  --background-color-500: 100 116 139;
  --background-color-600: 71 85 105;
  --background-color-700: 51 65 85;
  --background-color-800: 30 41 59;
  --background-color-900: 15 23 42;
}

.dark {
  --background-color-50: 15 23 42;
  --background-color-100: 30 41 59;
  --background-color-200: 51 65 85;
  --background-color-300: 71 85 105;
  --background-color-400: 100 116 139;
  --background-color-500: 148 163 184;
  --background-color-600: 203 213 225;
  --background-color-700: 226 232 240;
  --background-color-800: 241 245 249;
  --background-color-900: 248 250 252;
}